SnapGame/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SnapGame/.vs/SnapGame.csproj.dtbcache.json
.vs/SnapGame/v17/DocumentLayout.json
.vs/SnapGame/v17/DocumentLayout.backup.json
.vs/SnapGame/v17/.suo
.vs/SnapGame/FileContentIndex/bcd7695f-d89c-42b6-a7fc-9f838c07ec30.vsidx
.vs/SnapGame/FileContentIndex/9f6396a5-e982-40ba-ab0a-c5beeebeecaf.vsidx
.vs/SnapGame/CopilotIndices/17.14.827.52834/SemanticSymbols.db-wal
.vs/SnapGame/CopilotIndices/17.14.827.52834/SemanticSymbols.db-shm
.vs/SnapGame/CopilotIndices/17.14.827.52834/SemanticSymbols.db
.vs/SnapGame/CopilotIndices/17.14.827.52834/CodeChunks.db-wal
.vs/SnapGame/CopilotIndices/17.14.827.52834/CodeChunks.db-shm
.vs/SnapGame/CopilotIndices/17.14.827.52834/CodeChunks.db
SnapGame/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SnapGame/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/SnapGame/FileContentIndex/2ae05651-76d1-41ed-b08b-c9d3dae11145.vsidx
.vs/SnapGame/FileContentIndex/2f9f992d-2046-45e2-a0f8-7d98e142c160.vsidx
.vs/SnapGame/FileContentIndex/7425b743-8583-405a-a00d-1ad805652379.vsidx
.vs/SnapGame/FileContentIndex/7b2a3f00-ceea-4991-993c-94c7622bff9b.vsidx
.vs/SnapGame/FileContentIndex/9a067bfa-7928-4007-a445-83f6537bcb45.vsidx
SnapGame/bin/Debug/SnapGame.exe
SnapGame/bin/Debug/SnapGame.pdb
SnapGame/obj/Debug/SnapGame.pdb
SnapGame/obj/Debug/SnapGame.exe
SnapGame/obj/Debug/SnapGame.csproj.FileListAbsolute.txt
SnapGame/obj/Debug/SnapGame.csproj.CoreCompileInputs.cache
SnapGame/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SnapGame/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/SnapGame/bin
/SnapGame/obj
/SnapGame/obj
/SnapGame/obj
/SnapGame/obj
/SnapGame/obj/Debug
/.vs/SnapGame
/packages
/SnapGame/bin/Debug/SnapGame.exe
/SnapGame/bin/Debug/SnapGame.pdb
/SnapGame/obj/Debug/SnapGame.exe.config
SnapGame/bin/Debug/SnapGame.exe
SnapGame/bin/Debug/SnapGame.pdb
